# Python bytecode
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
dist/
build/
*.egg-info/

# Jupyter Notebook
.ipynb_checkpoints

# Large data files
*.pkl
*.parquet.gz
*.h5
*.hdf5
*.npy
*.npz
*.pt
*.pth
*.ckpt

# Large data directories
*/*/outputs/
uavarprior/data/outputs/
uavarprior/model/outputs/
uavarprior/interpret/outputs/
outputs/

# OS specific files
.DS_Store
.Spotlight-V100
.Trashes
Thumbs.db

# Genomics-specific files
# Genomics-specific
*.vcf
*.vcf.gz
*.bam
*.bam.bai
*.sam
*.fasta
*.fa
*.fastq
*.fq
*.bed
*.gff
*.gtf
*.wig
*.bigwig
*.bw

# Large data files
*.hdf5
*.h5
*.npz
